h1 {
  font-family: 'Secular One', sans-serif;
  font-size: 32px;
  color: #3537b9;

}
p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: black;


}
table {
  border-collapse: collapse;

}
table, th, td {
  border: 1px solid black;
}
img {
  height: 300px;
  width: 400px;
}
th {
  color:  #f86d2d;
  text-align: left;
}
td {
  color:  #aa10d3;
  text-align: center;
}
